<% content_for :description do %>
  Accelerate your product management career. Get access to real work used the best companies in tech and take in-depth courses crafted by experienced practitioners.
<% end %>

<%= render "shared/navbar" %>
<section class="pt-8 pt-md-11">
  <div class="container">
    <% if @courses.any? %>
      <div class="row">
        <% @courses.each do |course| %>
          <div class="col-12 col-md-6 d-flex">
            <!-- Card -->
            <div class="card shadow-light-lg mb-6">
              <!-- Body -->
              <%= link_to course_path(course), class: 'card-body' do %>
                <!-- Heading -->
                <h3>
                  <%= course.title %>
                </h3>
                <!-- Text -->
                <p class="mb-0 text-body-secondary">
                  <%= truncate(course.description, length: 100) %>
                </p>
              <% end %>
              <!-- Meta -->
              <div class="card-meta">
                <!-- Divider -->
                <hr class="card-meta-divider">
                <!-- Author -->
                <h6 class="text-uppercase text-body-secondary me-2 mb-0">
                  <%= pluralize(course.lessons.count, "lesson") %>
                </h6>

                <%= link_to "View Course",
                course_path(course),
                class: "h6 text-uppercase text-body-secondary mb-0 ms-auto" %>

              </div>

            </div>
          </div>
        <% end %>
      </div>
    <% else %>
      <p>No courses available yet.</p>
    <% end %>
  </div>
  <!-- / .container -->
</section>

<% if user_signed_in? && current_user.admin? %>
  <div class="mt-4">
    <%= link_to "New Course", new_course_path, class: "btn btn-success" %>
  </div>
<% end %>
